<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sentiment Analysis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
    </head>

    <body>
        <main class="table">
    
            <section class="table_header">
                <h2>Sentiment Analysis</h2>
            </section>
            <section class="input">
                <form id="sentimentForm" action="/analyze" method="post" enctype="multipart/form-data">
                    <textarea id="inputText" type="text" placeholder="Enter your message"></textarea>
                    <section class="button-container">
                        <button type="file" name="file" id="file" accept=".csv" onclick="chooseFile()">Choose File</button>
                        <button type="button" class="btnsub" onclick="analyzeText()">Analyze</button>
                        <button type="button" class="btncls" onclick="clearText()">Clear Text</button>
                        <button type="button" class="btntbl" onclick="clearTable()">Clear Table</button>
                    </section>
                </form>    
            </section>

            <section class="table_body">
                <table>
                    <tr>
                        <th>Text</th>
                        <th>Lexicon</th>
                    </tr>
                    {% for result in results %}
                        <tr>
                            <td id = "Text">{{ result.text }}</td>
                            <td id = "Lexicon">{{ result.lexicon }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </main>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    
    </html>